body{

    display: flex;
    background-image: url(https://img.goodfon.com/original/2560x1600/5/17/ozero-voda-golubaya-les-lake.jpg);
    justify-content: center;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
}

#show{

    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 15%;
    background-color: aqua;
    width: 42%;
    padding: 30px 20px 30px 20px;
    height: auto;
    background: linear-gradient(135 deg,rgba(0,0,0,0,));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.158,50%),rgba(255,255,255,0.158,50%);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}

p{

    color: blue;
    /* color: rgb(147, 143, 143); */
}